<table>
  <thead>
<tr> <th>Name</th> <th></th>
    </tr>
  </thead>
<tbody>
    {{#each friend in model}}
<tr>
	<td>{{link-to friend.fullName "friends.show" friend}}</td> 
	<td><a href="#" {{action "delete" friend}}>Delete</a></td>
</tr>
{{/each}}
  </tbody>
</table>


<br />
<a href="friends/new">New Friend</a>